<form>
    <div class="hero-points flexcol">
        <p>Select one or many players to give a Hero point to:</p>
        <select name="players" id="playerList" data-action="select-players" multiple>
            {{#each players}}
            <option class="flexrow" value={{id}}>{{name}} ({{system.resources.heroPoints.value}} Hero Point(s))</option>
            {{/each}}
        </select>

        <button type="button" id="add-points"><i class="fas fa-plus"></i>Give Hero Point</button>
        <button type="button" id="subtract-points"><i class="fas fa-minus"></i>Deduct Hero Point</button>
    </div>
</form>
